<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="vasya" class="Juggler">
        <constructor-arg value="20"/>
    </bean>

    <bean id="sonet" class="Sonnet1"/>

    <bean id="petr" class="PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonet"/>
    </bean>

    <bean id="stage" class="Stage" factory-method="getStage"/>

</beans>